.card{
    transition: all 200ms ease-in-out;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(7px);
    border-radius: 1rem;
}

.card:hover{
    transition: all 200ms ease-in-out;
    transform: scale(1.1);
    box-shadow: rgba(42, 255, 255, 0.849) 0px 22px 70px 4px;
}