.section01{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: ;
    height: 100%;
    margin: 1rem;
    gap: 1rem;
  }
